{
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "extraFileExtensions": [
      ".vue"
    ],
    "project": [
      "./tsconfig.json"
    ]
  },
  "plugins": [
    "vue",
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:vue/vue3-recommended"
  ],
  "env": {
    "vue/setup-compiler-macros": true
  },
  "rules": {
    "object-property-newline": "error",
    "object-curly-newline": [
      "error",
      {
        "multiline": true,
        "consistent": true
      }
    ],
    "vue/script-indent": [
      "error",
      2,
      {
        "baseIndent": 1,
        "switchCase": 1,
        "ignores": []
      }
    ],
    "vue/match-component-import-name": "error",
    "vue/match-component-file-name": "error",
    "vue/block-tag-newline": "error",
    "vue/no-static-inline-styles": [
      "error",
      {
        "allowBinding": true
      }
    ],
    "vue/block-lang": [
      "error",
      {
        "script": {
          "lang": "ts"
        }
      }
    ],
    "vue/prop-name-casing": [
      "error",
      "camelCase"
    ],
    "vue/attribute-hyphenation": [
      "error",
      "always",
      {
        "ignore": []
      }
    ],
    "vue/component-name-in-template-casing": [
      "error",
      "PascalCase",
      {
        "registeredComponentsOnly": false,
        "ignores": []
      }
    ],
    "vue/new-line-between-multi-line-property": [
      "error",
      {
        "minLineOfMultilineProperty": 2
      }
    ],
    "vue/html-closing-bracket-spacing": [
      "error",
      {
        "startTag": "never",
        "endTag": "never",
        "selfClosingTag": "never"
      }
    ],
    "vue/padding-line-between-tags": [
      "error",
      [
        {
          "blankLine": "always",
          "prev": "*",
          "next": "*"
        }
      ]
    ],
    "vue/padding-line-between-blocks": [
      "error",
      "always"
    ]
  },
  "overrides": [
    {
      "files": [
        "*.vue"
      ],
      "rules": {
        "indent": "off"
      }
    }
  ]
}