---
import '../root.scss'
import '@fontsource/ubuntu/latin-400.css';
import '@fontsource/ubuntu/latin-700.css';
import TPage from '../components/TPage.vue'

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = 'barthy.koeln',
  description = 'Software Engineering & Web Development'
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1"
    >

    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />

    <meta
      name="description"
      content={description}
    >

    <title>{title} &middot; Software Engineering</title>
  </head>

  <body>
    <TPage>
      <slot/>
    </TPage>
  </body>
</html>
